@import url("https://fonts.googleapis.com/css?family=Oswald:400,700&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  font-family: "Oswald", SansSerif;
  box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.6);
}

.wrapper .content {
  max-width: 1220px;
  padding: 0 40px;
  margin: 0 auto;
}

.wrapper button {
  outline: none;
}

header {
  height: 59px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 54px;
}

header .logo {
  width: 204px;
}

header nav {
  width: 480px;
}

header nav .menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

header nav .menu__item__link {
  display: inline-block;
  font-size: 16px;
  height: 100%;
  line-height: 59px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  box-sizing: border-box;
  letter-spacing: 0.8px;
}

header nav .menu__item__link:hover {
  border-bottom: 2px solid #ffffff;
}

.intro {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 696px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

.intro__text-block {
  width: 50%;
  padding-top: 225px;
  position: relative;
}

.intro__text-block__text {
  max-width: 415px;
  margin: 0 auto;
}

.intro__text-block__text h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 48px;
}

.intro__text-block__text p {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 54px;
}

.intro__text-block__text button {
  width: 245px;
  height: 52px;
  box-sizing: border-box;
  background-color: #68b738;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  font-family: "Oswald", SansSerif;
  display: block;
}

.intro__text-block__can {
  position: absolute;
  right: -54%;
  top: 143px;
}

.intro__wallpaper {
  background: -webkit-image-set(url("../assets/img/index-background-desktop@1x.jpg") 1x, url("../assets/img/index-background-desktop@2x.jpg") 2x) no-repeat right;
  width: 50%;
  background-position-x: 40px;
}

.course-description {
  margin-top: 635px;
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
}

.course-description__item {
  max-width: 570px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 48px 52px 52px;
}

.course-description__item__header {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}

.course-description__item__header__logo-wrapper {
  width: 100px;
  height: 100px;
  background-color: #68b738;
  border-radius: 50%;
  position: relative;
}

.course-description__item__header__logo-wrapper img {
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%);
}

.course-description__item__header h2 {
  text-transform: uppercase;
  margin-left: 64px;
  font-size: 35px;
  font-family: "Oswald", SansSerif;
  font-weight: 400;
}

.course-description__item p {
  font-size: 16px;
  font-family: "Arial";
  color: #686868;
  line-height: 23px;
}

.course-description__item:nth-child(1) img {
  left: 48%;
  top: 42%;
}

.course-description__item a {
  display: inline-block;
  margin-top: 40px;
  font-size: 20px;
  color: #171717;
  text-transform: uppercase;
  text-decoration: none;
}

.course-description__item a img {
  margin-left: 20px;
  padding-bottom: 3px;
}

.course-steps {
  margin-top: 80px;
  box-sizing: border-box;
}

.course-steps h1 {
  font-size: 60px;
  line-height: 60px;
  color: #171717;
  font-weight: 400;
}

.course-steps__wrapper {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}

.course-steps__wrapper__item {
  width: 245px;
  max-height: 230px;
}

.course-steps__wrapper__item__icon {
  background-color: #68b738;
  width: 80px;
  height: 80px;
}

.course-steps__wrapper__item p {
  margin-top: 40px;
  font-family: "Arial";
  font-size: 16px;
  line-height: 25px;
  color: #686868;
}
