@import url("https://fonts.googleapis.com/css?family=Oswald:400,700&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-family: "Oswald", SansSerif;
  -webkit-box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.6);
}

.wrapper .content {
  max-width: 1220px;
  padding: 0 40px;
  margin: 0 auto;
}

.wrapper button {
  outline: none;
}

header {
  max-width: 1220px;
  padding: 0 40px;
  margin: 0 auto;
  height: 59px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 54px;
}

header .logo {
  width: 204px;
}

header nav {
  width: 480px;
}

header nav .menu {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

header nav .menu__item__link {
  display: inline-block;
  font-size: 16px;
  height: 100%;
  line-height: 59px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.8px;
}

header nav .menu__item__link:hover {
  border-bottom: 2px solid #ffffff;
}

.intro {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 696px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

.intro__text-block {
  width: 50%;
  padding-top: 225px;
  position: relative;
}

.intro__text-block__text {
  max-width: 415px;
  margin: 0 auto;
}

.intro__text-block__text h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 48px;
}

.intro__text-block__text p {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 54px;
}

.intro__text-block__text button {
  width: 245px;
  height: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #68b738;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  font-family: "Oswald", SansSerif;
  display: block;
}

.intro__text-block__can {
  position: absolute;
  right: -54%;
  top: 143px;
}

.intro__wallpaper {
  background: -webkit-image-set(url("../assets/img/index-background-desktop@1x.jpg") 1x, url("../assets/img/index-background-desktop@2x.jpg") 2x) no-repeat right;
  width: 50%;
  background-position-x: 40px;
  min-width: 650px;
}

.course-description {
  margin-top: 635px;
  padding-top: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course-description__item {
  max-width: 570px;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 48px 52px 52px;
}

.course-description__item__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 46px;
}

.course-description__item__header__logo-wrapper {
  width: 100px;
  height: 100px;
  background-color: #68b738;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
}

.course-description__item__header__logo-wrapper img {
  position: absolute;
  top: 50%;
  left: 44%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.course-description__item__header h2 {
  text-transform: uppercase;
  margin-left: 64px;
  font-size: 35px;
  font-family: "Oswald", SansSerif;
  font-weight: 400;
}

.course-description__item p {
  font-size: 16px;
  font-family: "Arial";
  color: #686868;
  line-height: 23px;
}

.course-description__item:nth-child(1) img {
  left: 48%;
  top: 42%;
}

.course-description__item a {
  display: inline-block;
  margin-top: 40px;
  font-size: 20px;
  color: #171717;
  text-transform: uppercase;
  text-decoration: none;
}

.course-description__item a img {
  margin-left: 20px;
  padding-bottom: 3px;
}

.course-steps {
  margin-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.course-steps h1 {
  font-size: 60px;
  line-height: 60px;
  color: #171717;
  font-weight: 400;
}

.course-steps__wrapper {
  margin-top: 72px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course-steps__wrapper__item {
  width: 245px;
  height: 228px;
  max-height: 230px;
  position: relative;
}

.course-steps__wrapper__item__icon {
  background-color: #68b738;
  width: 80px;
  height: 80px;
}

.course-steps__wrapper__item p {
  margin-top: 30px;
  font-family: "Arial";
  font-size: 16px;
  line-height: 25px;
  color: #686868;
}

.course-steps__wrapper__item span {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 205px;
  height: 228px;
  font-size: 272px;
  color: #f2f2f2;
  z-index: -1;
}

.course-steps__wrapper__item:nth-child(1) div {
  background: #68b738 -webkit-image-set(url("../assets/img/advantage-leaf@1x.png") 1x, url("../assets/img/advantage-leaf@2x.png") 2x) no-repeat center;
  -webkit-background-size: 50px 50px;
          background-size: 50px;
}

.course-steps__wrapper__item:nth-child(2) div {
  background: #68b738 -webkit-image-set(url("../assets/img/advantage-powder@1x.png") 1x, url("../assets/img/advantage-powder@2x.png") 2x) no-repeat center;
  -webkit-background-size: 50px 50px;
          background-size: 50px;
}

.course-steps__wrapper__item:nth-child(3) div {
  background: #68b738 -webkit-image-set(url("../assets/img/advantage-dining@1x.png") 1x, url("../assets/img/advantage-dining@2x.png") 2x) no-repeat center;
  -webkit-background-size: 50px 50px;
          background-size: 50px;
}

.course-steps__wrapper__item:nth-child(4) div {
  background: #68b738 -webkit-image-set(url("../assets/img/advantage-clock@1x.png") 1x, url("../assets/img/advantage-clock@2x.png") 2x) no-repeat center;
  -webkit-background-size: 50px 50px;
          background-size: 50px;
}

.demonstration {
  margin-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 590px;
  width: 100%;
  background-color: #f2f2f2;
}

.demonstration__header {
  padding: 0 40px 80px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.demonstration__header h2 {
  max-width: 1220px;
  margin: 0 auto;
  color: #171717;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

.demonstration__description {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.demonstration__description > div {
  max-width: 50%;
}

.demonstration__description__info p:first-child {
  margin-top: 76px;
  max-width: 433px;
  font-size: 16px;
  font-family: "Arial";
  color: #686868;
  line-height: 24px;
}

.demonstration__description__info__flex-wrapper {
  margin-top: 75px;
}

.demonstration__description__info__result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 366px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.demonstration__description__info__result__item {
  width: 162px;
  height: 72px;
  text-align: center;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
}

.demonstration__description__info__result__item span:first-child {
  font-size: 30px;
  color: #171717;
  font-weight: 400;
  line-height: 65px;
}

.demonstration__description__info__result__item__legend {
  position: absolute;
  line-height: 15px;
  color: #686868;
  font-size: 14px;
  padding: 0 7px;
  white-space: nowrap;
  font-family: "Arial";
  bottom: -7px;
  left: 50%;
  background-color: #f2f2f2;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.demonstration__description__info__money {
  margin-top: 55px;
  color: #171717;
  font-size: 20px;
  line-height: 20px;
}

footer {
  background-color: #f2f2f2;
}

footer .footer__map {
  position: relative;
}

footer .footer__map__map-body {
  width: 100%;
}

footer .footer__map__address {
  width: 570px;
  height: 200px;
  position: absolute;
  padding: 0 90px 0 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 95px;
  left: 110px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__map__address__welcome {
  font-size: 20px;
  color: #171717;
  text-transform: uppercase;
  line-height: 24px;
}

footer .footer__map__address__addr {
  font-family: "Arial", sans-serif;
  color: #686868;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

footer .footer__map__map-pin {
  position: absolute;
  bottom: 148px;
  right: 338px;
}

footer .footer__meta-info {
  height: 149px;
  max-width: 1220px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__meta-info__social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 125px;
}

footer .footer__meta-info__htmlacademy-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__meta-info__htmlacademy-logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Arial";
  color: #686868;
}

footer .footer__meta-info__htmlacademy-logo a svg {
  width: 38px;
}

footer .footer__meta-info__htmlacademy-logo a svg path {
  fill: #444444;
}

.type-2-header nav ul li a {
  color: #000000;
}

.type-2-header nav ul li a:hover {
  border-bottom: 2px solid #68b738;
}

.catalog {
  margin-top: 70px;
}

.catalog__header {
  color: #171717;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

.catalog__goods {
  margin-top: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__goods__item {
  padding: 165px 40px 40px 40px;
  margin-top: 140px;
  width: 245px;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.catalog__goods__item__picture {
  display: block;
  position: absolute;
  bottom: 320px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.catalog__goods__item__picture img {
  display: block;
}

.catalog__goods__item__description__title {
  color: #171717;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.catalog__goods__item__description__info {
  font-size: 16px;
  font-family: "Arial";
  color: #686868;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.catalog__goods__item__description__info tr {
  border-bottom: 2px solid #cdcdcd;
  height: 32px;
}

.catalog__goods__item__description__info td:nth-child(2) {
  text-align: right;
}

.catalog__goods__item__purchase-button {
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  text-transform: uppercase;
  width: 100%;
  outline: none;
  height: 40px;
  border: none;
}

.catalog__goods__item__purchase-button:hover {
  background-color: #5eaa2f;
}

.catalog__goods__item__purchase-button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.catalog__goods .showmore-plate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
}

.catalog__goods .showmore-plate .catalog__goods__item__description__info {
  text-align: center;
}

.catalog__goods .showmore-plate .catalog__goods__item__purchase-button {
  background-color: #f2f2f2;
  color: #000000;
}

.options-builder {
  margin: 95px 0 85px 0;
  border-top: 3px solid #68b738;
  position: relative;
}

.options-builder__header {
  position: absolute;
  left: 70px;
  font-size: 36px;
  color: #171717;
  background-color: #ffffff;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  top: -24px;
  font-weight: 400;
  padding: 0 40px;
}

.options-builder__optional-goods-wrapper {
  max-width: 1220px;
  padding: 0 40px;
  margin: 90px auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.options-builder__optional-goods-wrapper__list {
  width: 73.5%;
}

.options-builder__optional-goods-wrapper__list__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 72px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #cdcdcd;
}

.options-builder__optional-goods-wrapper__list__item__title {
  font-size: 20px;
  color: #343434;
  text-transform: uppercase;
  width: 15%;
}

.options-builder__optional-goods-wrapper__list__item__info {
  width: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.options-builder__optional-goods-wrapper__list__item__info span {
  font-size: 16px;
  font-family: "Arial";
  color: #686868;
}

.options-builder__optional-goods-wrapper__list__item__purchase-button {
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  text-transform: uppercase;
  width: 245px;
  outline: none;
  height: 40px;
  border: none;
}

.options-builder__optional-goods-wrapper__list__item__purchase-button:hover {
  background-color: #5eaa2f;
}

.options-builder__optional-goods-wrapper__list__item__purchase-button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.options-builder__optional-goods-wrapper__list__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.options-builder__optional-goods-wrapper__gift {
  width: 245px;
  height: 290px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-image-set(url(../assets/img/gift-photo-desktop@1x.jpg) 1x, url(../assets/img/gift-photo-desktop@2x.jpg) 2x);
  -webkit-background-size: cover;
          background-size: cover;
}

.options-builder__optional-goods-wrapper__gift img {
  display: block;
  margin: 65px auto;
}

.options-builder__optional-goods-wrapper__gift p {
  font-size: 16px;
  font-family: "Arial";
  color: #ffffff;
  line-height: 21px;
  text-align: center;
}

.program-picking-header {
  max-width: 1220px;
  padding: 0 40px;
  margin: 0 auto;
  margin-top: 70px;
}

.program-picking-header h2 {
  color: #171717;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 60px;
}

.program-picking-header p {
  color: #171717;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.program-picking__pet-info {
  max-width: 1220px;
  padding: 0 40px;
  margin: 0 auto;
  margin: 70px auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.program-picking__pet-info__pet-data {
  width: 610px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.program-picking__pet-info__pet-data__field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.program-picking__pet-info__pet-data__field:last-child {
  margin-bottom: 0;
}

.program-picking__pet-info__pet-data__field > span {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
  color: #343434;
  white-space: nowrap;
}

.program-picking__pet-info__pet-data__field__input {
  width: 100%;
  margin-left: 18px;
}

.program-picking__pet-info__pet-data__field__input input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 52px;
  padding: 0 20px;
  outline: none;
  border: 1px solid #e6e6e6;
  font-size: 20px;
  font-family: "Oswald";
  text-transform: uppercase;
  line-height: 20px;
  color: #686868;
}

.program-picking__pet-info__program-type {
  width: 570px;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.program-picking__pet-info__program-type__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-picking__pet-info__program-type__item__checkbox {
  display: none;
}

.program-picking__pet-info__program-type__item__checkbox:checked + .program-picking__pet-info__program-type__item__checkbox-body:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #68b738;
}

.program-picking__pet-info__program-type__item__checkbox-body {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: 1px solid #e6e6e6;
  position: relative;
}

.program-picking__pet-info__program-type__item span {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
  color: #343434;
  white-space: nowrap;
  margin-left: 20px;
}

.program-picking__contacts {
  margin-top: 90px;
  border-top: 3px solid #68B736;
  position: relative;
}

.program-picking__contacts__header {
  position: absolute;
  left: 70px;
  font-size: 36px;
  color: #171717;
  background-color: #ffffff;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  top: -24px;
  font-weight: 400;
  padding: 0 40px;
}

.program-picking__contacts__wrapper {
  max-width: 1220px;
  padding: 0 40px;
  margin: 0 auto;
  margin-top: 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.program-picking__contacts__wrapper__field {
  width: 570px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.program-picking__contacts__wrapper__field:last-child .program-picking__contacts__wrapper__field__label__input:after {
  background: url("../assets/img/icon-phone.svg") no-repeat center;
  -webkit-background-size: 20px 20px;
          background-size: 20px;
}

.program-picking__contacts__wrapper__field:first-child {
  width: 610px;
  padding-right: 40px;
}

.program-picking__contacts__wrapper__field__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-picking__contacts__wrapper__field__label span {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
  color: #343434;
  white-space: nowrap;
}

.program-picking__contacts__wrapper__field__label__input {
  width: 100%;
  margin-left: 20px;
  position: relative;
}

.program-picking__contacts__wrapper__field__label__input input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 52px;
  padding: 0 20px;
  outline: none;
  border: 1px solid #e6e6e6;
  font-size: 20px;
  font-family: "Oswald";
  text-transform: uppercase;
  line-height: 20px;
  color: #686868;
}

.program-picking__contacts__wrapper__field__label__input:after {
  content: "";
  width: 60px;
  height: 52px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../assets/img/icon-mail.svg") no-repeat center;
  -webkit-background-size: 18px 18px;
          background-size: 18px;
}

.program-picking__comment {
  margin-top: 90px;
  position: relative;
  border-top: 3px solid #68B736;
}

.program-picking__comment__header {
  position: absolute;
  left: 70px;
  font-size: 36px;
  color: #171717;
  background-color: #ffffff;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  top: -24px;
  font-weight: 400;
  padding: 0 40px;
}

.program-picking__comment__wrapper {
  max-width: 1220px;
  padding: 0 40px;
  margin: 0 auto;
  margin-top: 85px;
}

.program-picking__comment__wrapper__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 52px;
  padding: 0 20px;
  outline: none;
  border: 1px solid #e6e6e6;
  font-size: 20px;
  font-family: "Oswald";
  text-transform: uppercase;
  line-height: 20px;
  color: #686868;
  padding: 18px 21px;
  height: 175px;
  resize: none;
}

.program-picking__additional-info {
  margin: 90px 0 82px;
  position: relative;
  border-top: 3px solid #68B736;
}

.program-picking__additional-info__header {
  position: absolute;
  left: 70px;
  font-size: 36px;
  color: #171717;
  background-color: #ffffff;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  top: -24px;
  font-weight: 400;
  padding: 0 40px;
}

.program-picking__additional-info__wrapper {
  max-width: 1220px;
  padding: 0 40px;
  margin: 0 auto;
  margin-top: 65px;
}

.program-picking__additional-info__wrapper__options-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-picking__additional-info__wrapper__options-block__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-picking__additional-info__wrapper__options-block__item__checkbox {
  display: none;
}

.program-picking__additional-info__wrapper__options-block__item__checkbox:checked + .program-picking__additional-info__wrapper__options-block__item__checkbox-body {
  background: url("../assets/img/icon-tick.svg") no-repeat center;
  -webkit-background-size: 20px 20px;
          background-size: 20px;
}

.program-picking__additional-info__wrapper__options-block__item__checkbox-body {
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  border: 1px solid #e6e6e6;
}

.program-picking__additional-info__wrapper__options-block__item span {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
  color: #343434;
  white-space: nowrap;
  margin-left: 20px;
}

.program-picking__additional-info__wrapper__submit-block {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-picking__additional-info__wrapper__submit-block__submit-button {
  font-size: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  text-transform: uppercase;
  width: 570px;
  outline: none;
  height: 50px;
  border: none;
}

.program-picking__additional-info__wrapper__submit-block__submit-button:hover {
  background-color: #5eaa2f;
}

.program-picking__additional-info__wrapper__submit-block__submit-button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.program-picking__additional-info__wrapper__submit-block span {
  margin-left: 80px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: #686868;
}
