@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&subset=cyrillic');
@mixin green-button($font-size, $width, $height) {
  font-size: $font-size;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  text-transform: uppercase;
  width: $width;
  outline: none;
  height: $height;
  border: none;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  font-family: "Oswald", SansSerif;
  box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.6);
  .content {
    max-width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }
  button {
    outline: none;
  }
}

header {
  max-width: 1220px;
  margin: 0 auto;
  height: 59px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 54px;
  .logo {
    width: 204px;
  }
  nav {
    width: 480px;
    .menu {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      height: 100%;
      &__item__link {
        display: inline-block;
        font-size: 16px;
        height: 100%;
        line-height: 59px;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
        box-sizing: border-box;
        letter-spacing: 0.8px;
        &:hover {
          border-bottom: 2px solid #ffffff;
        }
      }
    }
  }
}

.intro {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 696px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  &__text-block {
    width: 50%;
    padding-top: 225px;
    position: relative;
    &__text {
      max-width: 415px;
      margin: 0 auto;
      h1 {
        font-size: 60px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 48px;
      }
      p {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 54px;
      }
      button {
        width: 245px;
        height: 52px;
        box-sizing: border-box;
        background-color: #68b738;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 20px;
        font-family: "Oswald", SansSerif;
        display: block;
      }
    }
    &__can {
      position: absolute;
      right: -54%;
      top: 143px;
    }
  }
  &__wallpaper {
    background: -webkit-image-set(url("../assets/img/index-background-desktop@1x.jpg") 1x, url("../assets/img/index-background-desktop@2x.jpg") 2x) no-repeat right;
    width: 50%;
    background-position-x: 40px;
    min-width: 650px;
  }
}

.course-description {
  margin-top: 635px;
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
  &__item {
    max-width: 570px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding: 48px 52px 52px;
    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 46px;
      &__logo-wrapper {
        width: 100px;
        height: 100px;
        background-color: #68b738;
        border-radius: 50%;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 44%;
          transform: translate(-50%, -50%);
        }
      }
      h2 {
        text-transform: uppercase;
        margin-left: 64px;
        font-size: 35px;
        font-family: "Oswald", SansSerif;
        font-weight: 400;
      }
    }
    p {
      font-size: 16px;
      font-family: "Arial";
      color: #686868;
      line-height: 23px;
    }
    &:nth-child(1) img {
      left: 48%;
      top: 42%;
    }
    a {
      display: inline-block;
      margin-top: 40px;
      font-size: 20px;
      color: #171717;
      text-transform: uppercase;
      text-decoration: none;
      img {
        margin-left: 20px;
        padding-bottom: 3px;
      }
    }
  }
}

.course-steps {
  margin-top: 80px;
  box-sizing: border-box;
  h1 {
    font-size: 60px;
    line-height: 60px;
    color: #171717;
    font-weight: 400;
  }
  &__wrapper {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    &__item {
      width: 245px;
      height: 228px;
      max-height: 230px;
      position: relative;
      &__icon {
        background-color: #68b738;
        width: 80px;
        height: 80px;
      }
      p {
        margin-top: 30px;
        font-family: "Arial";
        font-size: 16px;
        line-height: 25px;
        color: #686868;
      }
      span {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 205px;
        height: 228px;
        font-size: 272px;
        color: #f2f2f2;
        z-index: -1;
      }
      &:nth-child(1) div {
        background: #68b738 -webkit-image-set(url("../assets/img/advantage-leaf@1x.png") 1x, url("../assets/img/advantage-leaf@2x.png") 2x) no-repeat center;
        background-size: 50px;
      }
      &:nth-child(2) div {
        background: #68b738 -webkit-image-set(url("../assets/img/advantage-powder@1x.png") 1x, url("../assets/img/advantage-powder@2x.png") 2x) no-repeat center;
        background-size: 50px;
      }
      &:nth-child(3) div {
        background: #68b738 -webkit-image-set(url("../assets/img/advantage-dining@1x.png") 1x, url("../assets/img/advantage-dining@2x.png") 2x) no-repeat center;
        background-size: 50px;
      }
      &:nth-child(4) div {
        background: #68b738 -webkit-image-set(url("../assets/img/advantage-clock@1x.png") 1x, url("../assets/img/advantage-clock@2x.png") 2x) no-repeat center;
        background-size: 50px;
      }
    }
  }
}

.demonstration {
  margin-top: 80px;
  box-sizing: border-box;
  height: 590px;
  width: 100%;
  background-color: #f2f2f2;
  &__header {
    padding: 0 40px 80px;
    background-color: #ffffff;
    box-sizing: border-box;
    h2 {
      max-width: 1220px;
      margin: 0 auto;
      color: #171717;
      font-size: 60px;
      font-weight: 400;
      line-height: 60px;
    }
  }
  &__description {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    >div{
      max-width: 50%;
    }
    &__info{
      p:first-child{
        margin-top: 76px;
        max-width: 433px;
        font-size: 16px;
        font-family: "Arial";
        color: #686868;
        line-height: 24px;
      }
      &__flex-wrapper{
        margin-top: 75px;
      }
      &__result{
        display: flex;
        max-width: 366px;
        justify-content: space-between;
        &__item{
          width: 162px;
          height: 72px;
          text-align: center;
          border: 1px solid #cdcdcd;
          border-radius: 3px;
          position: relative;
          span:first-child{
            font-size: 30px;
            color: #171717;
            font-weight: 400;
            line-height: 65px;
          }
          &__legend{
            position: absolute;
            line-height: 15px;
            color: #686868;
            font-size: 14px;
            padding: 0 7px;
            white-space: nowrap;
            font-family: "Arial";
            bottom: -7px;
            left: 50%;
            background-color: #f2f2f2;
            transform: translate(-50%, 0);
          }
        }
      }
      &__money{
        margin-top: 55px;
        color: #171717;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}

footer{
  background-color: #f2f2f2;
  .footer__map{
    position: relative;
    &__map-body{
      width: 100%;
    }
    &__address{
      width: 570px;
      height: 200px;
      position: absolute;
      padding: 0 90px 0 70px;
      box-sizing: border-box;
      top: 95px;
      left: 110px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__welcome{
        font-size: 20px;
        color: #171717;
        text-transform: uppercase;
        line-height: 24px;
      }
      &__addr{
        font-family: "Arial", sans-serif;
        color: #686868;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70px;
      }
    }
    &__map-pin{
      position: absolute;
      bottom: 148px;
      right: 338px;
    }
  }
  .footer__meta-info{
    height: 149px;
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__social-links{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 125px;
    }
    &__htmlacademy-logo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 165px;
        text-decoration: none;
        font-size: 16px;
        font-family: "Arial";
        color: #686868;
        svg{
          width: 38px;
          path{
            fill: #444444;
          }
        }
      }
    }
  }
}

// ---------------------STYLES FOR CATALOG--------------------------------

.type-2-header{
  nav ul li a{
    color: #000000;
    &:hover{
      border-bottom: 2px solid #68b738;
    }
  }
}

.catalog{
  margin-top: 70px;
  &__header{
    color: #171717;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
  &__goods{
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item{
      padding: 165px 40px 40px 40px;
      margin-top: 140px;
      width: 245px;
      background-color: #f2f2f2;
      box-sizing: border-box;
      position: relative;
      &__picture{
        display: block;
        position: absolute;
        bottom: 320px;
        left: 50%;
        transform: translate(-50%,0);
        img{
          display: block;
        }
      }
      &__description{
        &__title{
          color: #171717;
          font-size: 20px;
          line-height: 22px;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 25px;
        }
        &__info{
          font-size: 16px;
          font-family: "Arial";
          color: #686868;
          width: 100%;
          margin: 0 auto;
          border-collapse: collapse;
          margin-bottom: 30px;
          tr{
            border-bottom: 2px solid #cdcdcd;
            height: 32px;
          }
          td:nth-child(2){
            text-align: right;
          }
        }
      }
      &__purchase-button{
        @include green-button(16px, 100%, 40px);
      }
    }
    .showmore-plate{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #ffffff;
      border: 2px solid #f2f2f2;
      .catalog__goods__item__description__info{
        text-align: center;
      }
      .catalog__goods__item__purchase-button{
        background-color: #f2f2f2;
        color: #000000;
      }
    }
  }
}

.options-builder{
  margin: 95px 0 85px 0;
  border-top: 3px solid #68b738;
  position: relative;
  &__header{
    position: absolute;
    left: 70px;
    font-size: 36px;
    color: #171717;
    background-color: #ffffff;
    line-height: 36px;
    font-family: "Oswald", "Arial", sans-serif;
    top: -24px;
    font-weight: 400;
    padding: 0 40px;
  }
  &__optional-goods-wrapper{
    max-width: 1220px;
    padding: 0 40px;
    margin: 90px auto 0;
    display: flex;
    justify-content: space-between;
    &__list{
      width: 73.5%;
      &__item{
        box-sizing: border-box;
        height: 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #cdcdcd;
        &__title{
          font-size: 20px;
          color: #343434;
          text-transform: uppercase;
          width: 15%;
        }
        &__info{
          width: 285px;
          display: flex;
          justify-content: space-between;
          span{
            font-size: 16px;
            font-family: "Arial";
            color: #686868;
          }
        }
        &__purchase-button{
          @include green-button(16px, 245px, 40px)
        }
        &:last-child{
          border-bottom: 1px solid #cdcdcd;
        }
      }
    }
    &__gift{
      width: 245px;
      height: 290px;
      position: relative;
      box-sizing: border-box;
      background-image: -webkit-image-set(url(../assets/img/gift-photo-desktop@1x.jpg) 1x, url(../assets/img/gift-photo-desktop@2x.jpg) 2x);
      background-size: cover;
      img{
        display: block;
        margin: 65px auto;
      }
      p{
        font-size: 16px;
        font-family: "Arial";
        color: #ffffff;
        line-height: 21px;
        text-align: center;
      }
    }
  }
}
